In [1]:
import pandas as pd
import numpy as np
import os
import sys

from datetime import datetime
# Make `src` dir can be imported
project_root_path = os.path.abspath(os.path.join(os.getcwd(), '..'))  # /aicup-predict-energy-generation
sys.path.append(project_root_path)


from src.utils import choose_device

import matplotlib.pyplot as plt
import seaborn as sns

from src.fe_tools import create_time_features

In [2]:
df_raw_data = pd.read_csv('../data/processed_data/combined_data.csv')
df_raw_data['datetime'] = pd.to_datetime(df_raw_data['datetime'])
# make sure the sorting is correct
df_raw_data = df_raw_data.sort_values(by=['device','datetime']).reset_index(drop=True)

df_device = choose_device(df_raw_data, 'L10')
df_device = create_time_features(df_device)
df_device = df_device.reset_index(drop=True)
df_device

,datetime,windspeed,pressure,temperature,humidity,sunlight,power,device,date,month,day,hour,min,week_of_year
0,2024-03-01 17:14:06,0.0,1017.48,15.59,94.30,652.92,0.12,L10,2024-03-01,3,1,17,14,9
1,2024-03-01 17:14:47,0.0,1017.48,15.66,94.04,682.50,0.12,L10,2024-03-01,3,1,17,14,9
2,2024-03-01 17:15:47,0.0,1017.47,15.74,94.10,750.00,0.14,L10,2024-03-01,3,1,17,15,9
3,2024-03-01 17:16:47,0.0,1017.46,15.78,94.09,738.33,0.14,L10,2024-03-01,3,1,17,16,9
4,2024-03-01 17:17:47,0.0,1017.49,15.80,94.08,660.83,0.12,L10,2024-03-01,3,1,17,17,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91335,2024-07-22 05:15:28,0.0,1004.27,27.36,88.72,102.50,0.00,L10,2024-07-22,7,22,5,15,30
91336,2024-07-22 05:16:28,0.0,1004.25,27.37,88.78,115.00,0.01,L10,2024-07-22,7,22,5,16,30
91337,2024-07-22 05:17:28,0.0,1004.29,27.37,88.88,129.17,0.01,L10,2024-07-22,7,22,5,17,30
91338,2024-07-22 05:18:28,0.0,1004.29,27.38,88.88,144.17,0.01,L10,2024-07-22,7,22,5,18,30
91339,2024-07-22 05:19:28,0.0,1004.28,27.39,88.62,161.67,0.01,L10,2024-07-22,7,22,5,19,30

In [3]:
lag_fe = 'sunlight'

df_device[f'lag_{lag_fe}'] = df_device[lag_fe].shift(1).fillna(df_device['sunlight'])
df_device

,datetime,windspeed,pressure,temperature,humidity,sunlight,power,device,date,month,day,hour,min,week_of_year,lag_sunlight
0,2024-03-01 17:14:06,0.0,1017.48,15.59,94.30,652.92,0.12,L10,2024-03-01,3,1,17,14,9,652.92
1,2024-03-01 17:14:47,0.0,1017.48,15.66,94.04,682.50,0.12,L10,2024-03-01,3,1,17,14,9,652.92
2,2024-03-01 17:15:47,0.0,1017.47,15.74,94.10,750.00,0.14,L10,2024-03-01,3,1,17,15,9,682.50
3,2024-03-01 17:16:47,0.0,1017.46,15.78,94.09,738.33,0.14,L10,2024-03-01,3,1,17,16,9,750.00
4,2024-03-01 17:17:47,0.0,1017.49,15.80,94.08,660.83,0.12,L10,2024-03-01,3,1,17,17,9,738.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91335,2024-07-22 05:15:28,0.0,1004.27,27.36,88.72,102.50,0.00,L10,2024-07-22,7,22,5,15,30,90.83
91336,2024-07-22 05:16:28,0.0,1004.25,27.37,88.78,115.00,0.01,L10,2024-07-22,7,22,5,16,30,102.50
91337,2024-07-22 05:17:28,0.0,1004.29,27.37,88.88,129.17,0.01,L10,2024-07-22,7,22,5,17,30,115.00
91338,2024-07-22 05:18:28,0.0,1004.29,27.38,88.88,144.17,0.01,L10,2024-07-22,7,22,5,18,30,129.17
91339,2024-07-22 05:19:28,0.0,1004.28,27.39,88.62,161.67,0.01,L10,2024-07-22,7,22,5,19,30,144.17

In [4]:
df_device.values

array([[Timestamp('2024-03-01 17:14:06'), 0.0, 1017.48, ..., 14, 9,
        652.92],
       [Timestamp('2024-03-01 17:14:47'), 0.0, 1017.48, ..., 14, 9,
        652.92],
       [Timestamp('2024-03-01 17:15:47'), 0.0, 1017.47, ..., 15, 9,
        682.5],
       ...,
       [Timestamp('2024-07-22 05:17:28'), 0.0, 1004.29, ..., 17, 30,
        115.0],
       [Timestamp('2024-07-22 05:18:28'), 0.0, 1004.29, ..., 18, 30,
        129.17],
       [Timestamp('2024-07-22 05:19:28'), 0.0, 1004.28, ..., 19, 30,
        144.17]], dtype=object)