In [1]:
import pandas as pd
import numpy as np
import os
import sys

from datetime import datetime
# Make `src` dir can be imported
project_root_path = os.path.abspath(os.path.join(os.getcwd(), '..'))  # /aicup-predict-energy-generation
sys.path.append(project_root_path)  


from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [2]:
df_sunlight = pd.read_csv('../data/processed_data/sunlight_simulation_data.csv')
df_sunlight['datetime'] = pd.to_datetime(df_sunlight['datetime'])

In [3]:
df_sunlight.head()

,datetime,windspeed,pressure,temperature,humidity,sunlight,power,device
0,2024-03-02 06:06:47,0.0,1020.13,14.18,94.37,22.50,0.0,L10
1,2024-03-02 06:07:47,0.0,1020.10,14.19,94.27,28.33,0.0,L10
2,2024-03-02 06:08:47,0.0,1020.07,14.19,94.35,34.17,0.0,L10
3,2024-03-02 06:09:47,0.0,1020.07,14.19,94.42,35.83,0.0,L10
4,2024-03-02 06:10:47,0.0,1020.04,14.20,94.46,37.50,0.0,L10

In [4]:
df_sunlight['hour'] = df_sunlight['datetime'].dt.hour
df_sunlight

,datetime,windspeed,pressure,temperature,humidity,sunlight,power,device,hour
0,2024-03-02 06:06:47,0.00,1020.13,14.18,94.37,22.50,0.0,L10,6
1,2024-03-02 06:07:47,0.00,1020.10,14.19,94.27,28.33,0.0,L10,6
2,2024-03-02 06:08:47,0.00,1020.07,14.19,94.35,34.17,0.0,L10,6
3,2024-03-02 06:09:47,0.00,1020.07,14.19,94.42,35.83,0.0,L10,6
4,2024-03-02 06:10:47,0.00,1020.04,14.20,94.46,37.50,0.0,L10,6
...,...,...,...,...,...,...,...,...,...
85723,2024-07-21 18:44:27,0.00,1005.26,32.27,67.49,37.50,0.0,L10,18
85724,2024-07-21 18:45:27,0.00,1005.24,32.26,67.12,32.50,0.0,L10,18
85725,2024-07-21 18:46:27,0.52,1005.25,32.24,67.05,28.33,0.0,L10,18
85726,2024-07-21 18:47:27,0.26,1005.27,32.18,67.28,24.17,0.0,L10,18
85727,2024-07-21 18:48:27,0.00,1005.26,32.15,67.73,20.83,0.0,L10,18

In [5]:
hour_for_sub = [10, 11, 12]
df_sunlight['new_sunlight'] = df_sunlight.apply(lambda x: x['sunlight'] if x['hour'] not in hour_for_sub else None, axis=1)

In [6]:
df_sunlight[df_sunlight['hour'].isin(hour_for_sub)].new_sunlight.value_counts()

Series([], Name: count, dtype: int64)

In [7]:
    one = timedelta(minutes=1)
    secondTSr = secondTS[::-1].copy()
    firstTSr = firstTS[::-1].copy()
    indexr = pd.date_range(start=firstTS.index[0], end=secondTS.index[-1], freq='min')
    firstTSr.index = indexr[-len(firstTSr):]
    secondTSr.index = indexr[:len(secondTSr)]
    
    #FORWARD    
    es = ExponentialSmoothing(firstTS,  seasonal_periods=seasonal_periods,seasonal='add').fit()
    forwardPrediction = es.predict(start=firstTS.index[-1]+one, end=secondTS.index[0]-one)

NameError: name 'timedelta' is not defined